<html>
    <header>

    </header>

    <style>
        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .btn:hover {
        color: #212529;
        }
        .btn-check:focus + .btn, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
        .btn:disabled, .btn.disabled, fieldset:disabled .btn {
        pointer-events: none;
        opacity: 0.65;
        }

        .btn-primary {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
        }
        .btn-primary:hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
        }
        .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
        box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
        }
    </style>

    <body>
        <h1>Hy {{username}}</h1>
        <h3>Please activate your account by click the button bellow</h3>
        <a type="button" class="btn btn-primary" href="{{link-activation}}">Click for activate your account</a>
    </body>
</html>