.page-content {
    display: flex;
    flex-direction: column;
}

#carouselExampleIndicators {
    display: inline-block;
    max-width: 40%;
}

#commnetContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.post-image-profile {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

#inputComment {
    width: 70%;
}

#commentBtn {
    width: 50px;
    height: 50px;
}

#inputCommentContainer {
    display: flex;
    gap: 10px;
}

#listCommentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-container {
    display: flex;
    gap: 10px;
}

.comment-info {
    display: flex;
    flex-direction: column;
}