.page-content {
    display: flex;
    flex-direction: column;
}

#carouselExampleIndicators {
    display: inline-block;
    max-width: 50%;
    margin-top: 60px;
}

#textContentContainer {
    margin-top: 20px;
}

#submitBtn {
    width: 7%;
    margin-bottom: 20px;
    position: absolute;
    right: 10px;
}