.page-content {}

.list-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    width: 50%;
    margin-top: 50px;
}

.post-account-info {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
}

.post-username {
    font-weight: 650;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

.post-image-profile {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.post-cta-btn {
    right: 0;
    position: absolute;
}

.created-at-text {
    margin-left: 10px;
}

.loading-screen {
    background-color: gray;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 0.5;
}

#searchResultContainer {
    margin-left: 30px;
    background-color: rgb(216, 216, 216);
}

.trending-container {
    min-height: auto;
    max-height: 50vh;
    overflow-y: scroll;
    position: fixed;
    background-color: white;
    right: 0;
    border-radius: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.title-trending{
    margin-top: 10px;
    margin-left: 10px;
    font-family: cursive;
    font-weight: bolder;
    height: 8%;
}

.list-tag-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tag-container{
    display: flex;
    gap: 10px;
}

.count-post{
    color: grey;
    font-weight: bolder;
    opacity: 0.5;
}


.link-tag{
    font-weight: bolder;
    font-size: large;
}