#container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.chat-container {
    width: 70%;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(210, 211, 212);
}

.chat-header {
    width: 100%;
    height: 6%;
    background-color: rgb(210, 211, 212);
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-profile-pict {
    margin-left: 15px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.username {
    font-weight: bold;
    font-size: large;
}

.list-chat-container {
    margin-top: 10px;
    height: 88%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-container {
    width: 100%;
}

.msg-created-at {
    font-size: smaller;
}

.msg-txt {
    font-size: medium;
    word-wrap: break-word
}

.message {
    flex-direction: column;
    display: flex;
    min-width: 1px;
    max-width: 47%;
    border-radius: 10px;
    background-color: rgb(210, 211, 212);
    padding: 8px;
    gap: 10px;
}

.sender-msg {
    float: right;
}

.input-msg-container {
    flex: 1;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.input-msg {
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    border: 3px solid rgb(210, 211, 212);
}

.btn-send-msg {
    display: block;
    width: 10%;
    height: 100%;
}

.list-dm-container{
    height: 100%;
    width: 25%;
    overflow-y: scroll;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.rounded-circle-contact{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}