.top-nav-bar {
    z-index: 10;
    width: 100%;
    position: fixed;
}

#create-post-btn {
    position: absolute;
    right: 300px;
}


.post-username {
    font-weight: 650;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

.post-image-profile {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

#searchResultContainer {
    margin-left: 30px;
    background-color: rgb(216, 216, 216);
}